@using System.Security.Claims
@model HvoyaApplication.ViewModels.ShoppingCartViewModel

<div class="container mt-5">
    <h1 class="text-center">Ваш кошик</h1>

    @if (Model.ShoppingCartItems == null || !Model.ShoppingCartItems.Any())
    {
        <div class="alert alert-warning text-center">
            <h4>Ваш кошик порожній</h4>
            <a href="@Url.Action("Index", "Home")" class="btn btn-primary btn-lg mt-3">Продовжити покупки</a>
        </div>
    }
    else
    {
        <table class="table table-hover mt-4">
            <thead>
                <tr>
                    <th>Десерт</th>
                    <th>Ціна</th>
                    <th>Кількість</th>
                    <th>Загальна сума</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ShoppingCartItems)
                {
                    <tr>
                        <td>@item.Dessert.Name</td>
                        <td>@item.Dessert.Price</td>
                        <td>@item.Quantity</td>
                        <td>@(item.Dessert.Price * item.Quantity)</td>
                        <td>
                            <form asp-action="RemoveFromCart" asp-controller="ShoppingCart" method="post">
                                <input type="hidden" name="UserId" value="@User.FindFirstValue(ClaimTypes.NameIdentifier)" />
                                <input type="hidden" name="dessertId" value="@item.Dessert.DessertId" />
                                <button class="btn btn-danger btn-sm">Видалити</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="text-end">
            <h4>Загальна сума: @Model.ShoppingCartTotal</h4>
            <a href="@Url.Action("Checkout", "Order")" class="btn btn-success btn-lg">Оформити замовлення</a>
        </div>
    }
</div>
