@model HvoyaApplication.ViewModels.HomeViewModel
@using Microsoft.Extensions.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<div class="container mt-5">
    <h1 class="text-center">@Localizer["Welcome to our application!"]</h1>
    <p class="lead text-center">@Localizer["Choose your favorite dessert and enjoy."]</p>

    <form asp-action="Index" method="get" class="d-flex mb-4">
        <input type="text" name="search" class="form-control" placeholder="@Localizer["Search desserts..."]">
        <button type="submit" class="btn btn-outline-success">@Localizer["Search"]</button>
    </form>

    @if (Model.Desserts.Any())
    {
        <div class="row">
            @foreach (var dessert in Model.Desserts)
            {
                <div class="col-md-4">
                    <div class="card">
                        <img src="@dessert.ImageUrl" alt="@dessert.Name" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">@dessert.Name</h5>
                            <p class="card-text">@dessert.Description</p>
                            <a href="@Url.Action("Details", "Home", new { id = dessert.DessertId })" class="btn btn-outline-success">
                                @Localizer["Learn More"]
                            </a>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <div class="text-center">
            <h3>@Localizer["Nothing found."]</h3>
        </div>
    }
</div>
